<Title> Admin | Weight Lifting Pro </Title>

<div class="container">
  <fieldset>
    <h3 class="page-header text-center">App Manager</h3>

    <div class="row">
      <div class="col-lg-4">
      </div>

    <div class="row">
      <div class="col-sm-4">
        <%= link_to 'Manage Users', users_path, :class => "btn btn-md btn-block btn btn-default" %>
      </div>

    <div class="row">
      <div class="col-lg-4">
      </div>
    </div>
    </div>
    </div>

  </fieldset>
</div>