<div class="container">
  <div class="row">

    <div class="col-xs-2">
      <%= render 'layouts/left_panel_two' %>
    </div>

    <div class="col-xs-2">
    </div>

    <div class="col-xs-3">
      <%= yield %>
      
<title>New Measurement | Weight Lifting Pro</title>
      
<h3><strong> New Measurement</strong></h3>
<br>
<%= render 'form' %>

<%= link_to 'Back', muscle_measures_path %>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
