<div class="container">
  <div class="row">
    <div class="col-xs-3">
    </div>
    <div class="col-xs-9">
      <%= yield %>
      
      <title>My Report | Weight Lifting Pro</title>
      <h3>Week of <%= start_date %></h3>
        
<%= @report %>
        </div>
  </div>
</div>
