<h4>
  <%= current_user.fname %>
</h4>

<hr>

<h5>
  <%= link_to edit_user_registration_path do %>
      <i class="fa fa-pencil " aria-hidden="true">  Edit User</i><% end %>
</h5>

<hr>

<h5>
</h5>

<hr>

<h5>

</h5>
<hr>


<h5>
  <%= link_to calculator_url do %>
      <i class="fa fa-calculator" aria-hidden="true"> Metrics Calculator</i><% end %>
</h5>
